Day 4/Lesson 2/Task 1/set node  demo workflow.json
{
  "name": "set node  demo workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        0
      ],
      "id": "983e6864-788f-4430-9458-35824f610cd8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ad80d26-777b-48cf-9771-0604c925ffcb",
              "name": "Name",
              "value": "={{ ($json.Name || '')\n  .trim()\n  .toLowerCase()\n  .split(/\\s+/)\n  .map(p => p.charAt(0).toUpperCase() + p.slice(1))\n  .join(' ') }}",
              "type": "string"
            },
            {
              "id": "2d58d032-ff4c-4733-ba95-0c9e4d03a6d5",
              "name": "Email",
              "value": "={{ ($json.Email || '').trim().toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "d5b1e1ca-a0c5-42b5-bf06-d95a3d59ee78",
              "name": "phone",
              "value": "={{ ($json.phone || '').replace(/\\D/g, '') }}",
              "type": "string"
            },
            {
              "id": "9c3ccda4-c2a8-4358-8452-f619b9ee2869",
              "name": "message",
              "value": "={{ ($json.message || '').trim() }}",
              "type": "string"
            },
            {
              "id": "051b8e2a-2afc-434f-a990-65f255911faf",
              "name": "source ",
              "value": "={{ $json['source '] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        0
      ],
      "id": "807f36db-d273-4f31-85db-b11fb117659d",
      "name": "Clean and enhnace"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0aaf59ef-9d64-4f0e-a8db-dd120459293c",
              "name": "Name",
              "value": "Jashwanth",
              "type": "string"
            },
            {
              "id": "652713c9-b40b-481e-a907-a38bcf3f4183",
              "name": "Email",
              "value": "BOTCAMPUS@gmail.com",
              "type": "string"
            },
            {
              "id": "ed37e723-ba06-489f-b8ca-2f601f286e0d",
              "name": "phone",
              "value": "91+999999999",
              "type": "string"
            },
            {
              "id": "d1b7bca7-0693-41e1-8960-9e9aa1f769f4",
              "name": "message",
              "value": "Need a quote for website + chatbot",
              "type": "string"
            },
            {
              "id": "ae012089-502c-4fb5-a4c8-150a75f72ff8",
              "name": "source ",
              "value": "Website",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -64,
        0
      ],
      "id": "1b7bbd62-45a4-44d8-ab88-1b5d603ec4ca",
      "name": "Getting Details"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1JfUJ3E0hevU3laYzaGUxULYT-SbBmxOEJVK-tD71qVI/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JfUJ3E0hevU3laYzaGUxULYT-SbBmxOEJVK-tD71qVI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "serial Number",
              "displayName": "serial Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Employee Name\n",
              "displayName": "Employee Name\n",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Yesterday",
              "displayName": "Yesterday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Today",
              "displayName": "Today",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Blockers",
              "displayName": "Blockers",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        0
      ],
      "id": "673b0bb2-a8e2-40e9-bd58-4ccf78b123ac",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "kgGA5lXJEM8iCSPE",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Getting Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting Details": {
      "main": [
        [
          {
            "node": "Clean and enhnace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and enhnace": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8b535cc8-ac7e-4504-aa82-453cabb0445a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42d13b6d7987a10c8e2c8db41171b42d509e245ebab6f50c51434763260454f5"
  },
  "id": "y4KefhE7bOc4nAEn",
  "tags": []
}