Day 06/Lesson 1/Task 1/Error Handling-Demo.json
{
  "name": "Error Handling",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Newsletter Form",
        "formFields": {
          "values": [
            {
              "fieldLabel": "First Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Last Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "phone number",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -304,
        0
      ],
      "id": "299d3b9a-7116-4a2c-8764-9345766cb95d",
      "name": "On form submission",
      "webhookId": "987947c4-dcd8-4c14-a0e4-6c95f1ed1da4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Confrim",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -192
      ],
      "id": "c22b71ab-27cc-4bba-98fb-f19d34deaab7",
      "name": "Send a message",
      "webhookId": "2d406cf7-d6d4-4479-a0ff-f8e86922deb2",
      "credentials": {
        "gmailOAuth2": {
          "id": "xAMl4zSjBRQk6v6r",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "6133e6ac-ac28-46e0-99cd-a4312ae8f5cc",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        1136
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "documentId",
              "value": "1INVALID_ID_DEMO_NOT_FOUND"
            },
            {
              "name": "range",
              "value": "Sheet1!A:B"
            }
          ]
        },
        "options": {}
      },
      "id": "9993b59d-3bf0-4192-812f-743f73354737",
      "name": "Set Bad Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        944
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        992,
        944
      ],
      "id": "31b06df9-47ee-4b2a-8198-23f84bd07d98",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 401042151,
          "mode": "list",
          "cachedResultName": "Error_Handling",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JfUJ3E0hevU3laYzaGUxULYT-SbBmxOEJVK-tD71qVI/edit#gid=401042151"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Good config').item.json.document_Id }}",
            "NAME": "={{ $('Good config').item.json.Name }}",
            "EMail": "={{ $('Good config').item.json.Email }}"
          },
          "matchingColumns": [
            "Sheet _ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NAME",
              "displayName": "NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "EMail",
              "displayName": "EMail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1520
      ],
      "id": "8c91da4e-1af5-4630-af22-1c65fd31c877",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tqjFpBwTffq6qvQw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Error\n##  In There is a Error \"no proper Sheet id !!\"",
        "height": 272,
        "width": 864,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        832
      ],
      "typeVersion": 1,
      "id": "bc30a689-366c-4465-b35e-23329f056280",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "Jane Doe"
            },
            {
              "name": "Email",
              "value": "jane.doe@example.com"
            }
          ]
        },
        "options": {}
      },
      "id": "408e0b66-6ceb-4d1c-8ac8-1916cfe35f0f",
      "name": "Set Data2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        416,
        1520
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "document_Id",
              "value": "98765456t789"
            },
            {
              "name": "Name",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "Email",
              "value": "={{ $json.Email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "82c7819b-c577-4039-a8f0-40eadcd80dfb",
      "name": "Good config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        720,
        1536
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "Jane Doe"
            },
            {
              "name": "Email",
              "value": "jane.doe@example.com"
            }
          ]
        },
        "options": {}
      },
      "id": "845aaf6e-c491-4522-8e57-927bf588df21",
      "name": "Set Data 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        480,
        944
      ]
    },
    {
      "parameters": {
        "content": "## correct\n## Proper Bulletproof Error Handling\n",
        "height": 320,
        "width": 1008,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        1424
      ],
      "typeVersion": 1,
      "id": "85bf5876-347f-4524-9435-e290d86c6cb5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1JfUJ3E0hevU3laYzaGUxULYT-SbBmxOEJVK-tD71qVI",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JfUJ3E0hevU3laYzaGUxULYT-SbBmxOEJVK-tD71qVI/edit?usp=drivesdk"
        },
        "title": "Error_Handling",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        1536
      ],
      "id": "7304be13-c1b5-4630-85a9-c653f9287e0c",
      "name": "Create sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tqjFpBwTffq6qvQw",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "First Name": "Jashwanth",
          "Last Name": "Boddupally",
          "Email": "jashwanthboddupally@gmail.com",
          "phone number": 9010767269,
          "submittedAt": "2025-10-01T16:24:40.648+05:30",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Bad Config": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data2": {
      "main": [
        [
          {
            "node": "Good config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Good config": {
      "main": [
        [
          {
            "node": "Create sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data 1": {
      "main": [
        [
          {
            "node": "Set Bad Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c823556-66f7-433f-9065-c4c0f66292ce",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce10c10157d15b5f2fbc692795dabfeb448c588cac607b6a1251102b4354dcae"
  },
  "id": "o3BS24To09fsGRjl",
  "tags": []
}
